<div class="carousel-inner featured-product">
	<div class="item active">
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<a href="product/pig-sup-reg-sup-wall-mount-mat-roll-dispenser_MTY3fHwxNDUyNzgwMDYw">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="images/products/MAT293_1_medium.jpg" alt="PIG<sup>®</sup> Wall-Mount Mat Roll Dispenser">
							<p>PIG<sup>®</sup> Wall-Mount Mat Roll Dispenser</p>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<a href="product/pig-sup-reg-sup-vertical-mat-roll-holder_MTY2fHwxNDUyNzgwMDcw">
					<div class="single-products">
						<div class="productinfo text-center">
							<img src="images/products/GEN249_1_medium.jpg" alt="PIG<sup>®</sup> Vertical Mat Roll Holder">
							<p>PIG<sup>®</sup> Vertical Mat Roll Holder</p>
						</div></div></a></div></div>
		<div class="col-sm-4"><div class="product-image-wrapper"><a href="product/pig-sup-reg-sup-sump-skimmer_MTYzfHwxNDUyNzgwMDgx"><div class="single-products"><div class="productinfo text-center"><img src="images/products/SKM403_1_Oil-Only-Absorbent-Sock_medium.jpg" alt="PIG<sup>®</sup> Sump Skimmer"><p>PIG<sup>®</sup> Sump Skimmer</p></div></div></a></div></div>
	</div>
	<div class="item">
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<a href="product/pig-sup-reg-sup-skimmer-oil-only-absorbent-sock_MTYxfHwxNDUyNzgwMDk3"><div class="single-products"><div class="productinfo text-center"><img src="images/products/104PS_2_Oil-Only-Absorbent-Sock_medium.jpg" alt="PIG<sup>®</sup> Skimmer Oil-Only Absorbent Sock"><p>PIG<sup>®</sup> Skimmer Oil-Only Absorbent Sock</p></div></div></a></div></div>
	</div>
</div>




<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner featured-product">
		<div class="item next left">
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<a href="product/pig-sup-reg-sup-wall-mount-mat-roll-dispenser_MTY3fHwxNDUyNzgwMDYw">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="images/products/MAT293_1_medium.jpg" alt="PIG<sup>®</sup> Wall-Mount Mat Roll Dispenser"><p>PIG<sup>®</sup> Wall-Mount Mat Roll Dispenser</p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-sm-4"><div class="product-image-wrapper"><a href="product/pig-sup-reg-sup-vertical-mat-roll-holder_MTY2fHwxNDUyNzgwMDcw"><div class="single-products"><div class="productinfo text-center"><img src="images/products/GEN249_1_medium.jpg" alt="PIG<sup>®</sup> Vertical Mat Roll Holder"><p>PIG<sup>®</sup> Vertical Mat Roll Holder</p></div></div></a></div></div>

			<div class="col-sm-4"><div class="product-image-wrapper"><a href="product/pig-sup-reg-sup-sump-skimmer_MTYzfHwxNDUyNzgwMDgx"><div class="single-products"><div class="productinfo text-center"><img src="images/products/SKM403_1_Oil-Only-Absorbent-Sock_medium.jpg" alt="PIG<sup>®</sup> Sump Skimmer"><p>PIG<sup>®</sup> Sump Skimmer</p></div></div></a></div></div>
		</div>

		<div class="item active left">
			<div class="col-sm-4"><div class="product-image-wrapper"><a href="product/pig-sup-reg-sup-skimmer-oil-only-absorbent-sock_MTYxfHwxNDUyNzgwMDk3"><div class="single-products"><div class="productinfo text-center"><img src="images/products/104PS_2_Oil-Only-Absorbent-Sock_medium.jpg" alt="PIG<sup>®</sup> Skimmer Oil-Only Absorbent Sock"><p>PIG<sup>®</sup> Skimmer Oil-Only Absorbent Sock</p></div></div></a></div></div>
		</div>
	</div>
		<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>			
</div>



						<?php 
							$count = 1;
							foreach($related as $product){
								if($count == 1){
							?>
								<div class="row">
								<?php } ?>
									<div class="col-md-4 related-product">
										<a href="product/<?=$product['alias'];?>"><img class="img-responsive" src="<?=$product['image'];?>" alt="Absorbents" title="" />
										<p class="text-center"><?=$product['name'];?></p></a>
									</div>
								<?php 
								if($count == 3){
									$count = 0;
								?>
								</div>
								<?php 
								}
								$count++;
								?>
							<?php } ?>





<div class="related-items-content">
	<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner featured-product">

			<div class="item"></div>
			<div class="item active"></div>
			<div class="item"></div>

		</div>

		<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>			
	</div>
</div>
			
		