﻿.welcome-line {
    margin: 220px 0px;
    font-size: 50px;
    font-weight: 600;
}
.welcome-line span {
    color: #4EAB32;
}
.modal-header {
    background: #3FA335;
}
.login-logo {
    margin: 100px auto 0px;
    text-align: center;
}
.padd-tb0 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.panel-heading {
    background: none repeat scroll 0 0 #3FA335;
}
td.product-img {
    padding: 5px 10px !important;
}
td.product-img img {
    height: 32px;
}
.table-specification tr td:last-child {
    padding: 3px 10px;
}
.product-details-img {
    border: 1px solid #eee;
    text-align: center;
}
.product-details-img img {
    height: 290px;
}
.product-details {
    border: 1px solid #eee;
    padding: 20px 40px 30px;
}
.product-details span span {
    color: #FE980F;
    /*float: left;*/
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}
.product-details-options {
    display: flex;
}
.product-details-options p {
    float: left;
    margin-right: 30px;
    display: inline;
}
.mrg-top30 {
    margin-top: 30px;
}
.mrg-top24 {
    margin-top: 23px;
}
.mrg-top10 {
    margin-top: 10px;
}
.related-items-content {
    margin: 30px 45px;
}
.related-items-content .related-product:hover {
    border: 1px solid #ddd;
}
.related-items-content .related-product {
    border: 1px solid #F7F7F0;
}
.related-items-content .related-product img {
    padding: 15px 50px;
    margin: 0px auto;
}
.related-product a:hover p {
    color: #3FA335;
}
.related-product a p {
    color: #333;
}
.label span.small-text {
    font-size: 11px;
    font-weight: 400;
}
.add-related-img .related-img {
    margin-right: 10px;
    float: left;
    border: 1px solid #ccc;
    padding: 3px;
}
.add-related-img .related-img img {
    width: 70px;
}
.add-product-image {
    border: 1px solid #ccc;
    padding: 5px;
}
.show-message {
    border: solid 1px;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
    display: none;
}
.close {
    opacity: 1;
    color: #BBB;
}
.close:hover {
    opacity: 1;
    color: #fff;
}
.add-on .btn {
    padding: 6px 9px;
}
.dataTables_wrapper {
    top: 0px !important;
}
.table-responsive {
border: 0px;
}